@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1{
  color: #f1356d;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: #f1356d;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px
}
/* info previews / list */
.info-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  text-align: left;
}

.info-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.info-preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.info-preview h1{
  font-size: 15px;
  color: #000000;
  margin-bottom: 8px;
}
.visible:after{
  visibility: visible;
  content: 'by, Elvis Bueno a software engineer from Tennessee. "Software and cathedrals are much the same Ã¢â‚¬â€œ first we build them, then we pray."';
  color: white;
  margin: auto;
  font-size: small;
  
}
.visible{
  visibility: hidden;
  
}




.login-form{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.login-form label{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.login-form h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30;
}
.login-form input, .login-form textarea, .login-form select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

}
.login-form button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
